{% extends 'base.html.twig' %}

{% block title %}Quizzer{% endblock %}

{% block body %}
<<<<<<< HEAD

=======
    <header>
        
        
    </header>
    
    
>>>>>>> 65619f0b6904f2682c64c9e41337ffc73937d9b3
    <section >
        <div class="content">
            <div class="header-left">
                <img src="{{ asset('img/QuizLogo.jpg') }}" alt="Logo">
            </div>
            <div class="header-right">
                <div>
                    <h1 class="mt-5">Bienvenue sur Quizzer</h1>
                </div>
                <ul class="nav mt-5">
<<<<<<< HEAD
                {% if not app.user %}
                    <li class="nav-item  "><a class="btn btn-outline-primary mt-4" href="{{ path('app_register') }}">S'enregistrer</a></li>
                    <li class="nav-item  "><a class="btn btn-outline-primary mt-4 ml-4" href="{{ path('app_login') }}">Se connecter</a></li>
                {% else %}
                    <li class="nav-item  "><a class="btn btn-outline-primary mt-4" href="{{ path('app_logout') }}">Se déconnecter</a></li>
                {% endif %}
=======
                    <li class="nav-item  "><a class="nav-link" href="{{ path('app_login') }}">Se connecter</a></li>
                    <li class="nav-item  "><a class="nav-link" href="{{ path('app_register') }}">S'enregistrer</a></li>
>>>>>>> 65619f0b6904f2682c64c9e41337ffc73937d9b3
                </ul>
            </div>
            <div>
                
            </div>

        </div>
        

    </section>
        

{% endblock %}
