{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1 class="mt-5">Ajouter un compte</h1>
    
    {{ form_start(registrationForm) }}
        <div class="mt-5">
            {{ form_row(registrationForm.username) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Mot de passe'
            }) }}
        </div>
        <div class="agree">
            {{ form_row(registrationForm.agreeTerms) }}
        </div>
        <button type="submit" class="btn btn-outline-info">S'enregistrer</button>
    {{ form_end(registrationForm) }}
{% endblock %}
