{% extends 'base.html.twig' %}

{% block title %}New Question{% endblock %}

{% block body %}
    <nav class=" m-2 ">
    <ul class="nav nav-pills nav-fill ">
        <li class="nav-item m-2"><a class="nav-link" href="{{ path('app_quiz_index') }}">Quiz</a></li>
        <li class="nav-item  m-2"><a class="nav-link" href="{{ path('app_question_index') }}">Question</a></li>
        <li class="nav-item  m-2"><a class="nav-link" href="{{ path('app_reponse_index') }}">Réponse</a></li>
        <li class="nav-item  m-2"><a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter</a></li>
    </ul>
    </nav>
    <div class="m-5">
        <h1 class="align-middle">Ajouter une question</h1>

        <div class="mt-5">{{ include('question/_form.html.twig') }}</div>

        <div class="mt-5"><a href="{{ path('app_question_index') }}"class="btn btn-outline-primary">Retourner à la liste</a></div>
    </div>
{% endblock %}
