{% extends 'base.html.twig' %}

{% block title %}M'enregistre{% endblock %}

{% block body %}
    <h1 class="mt-5 mb-5">M'enregistrer</h1>
    <div class="edit-user">
        {{ form_start(userForm) }}
        {{ form_errors(userForm) }}
            <div class="mt-2">
                {{ form_row(userForm.username) }}
            </div>
            
            <div class="mt-3">
                {{ form_row(userForm.plainPassword, {
                label: 'Mot de passe'
            }) }}
            <div class="mt-3 edit-role">
                {{ form_row(userForm.roles) }}
            </div>
            </div>
        
        {{ form_end(userForm) }}
    </div>
    {# <input type ="checkbox" checked="checked"> #}
    <div class="mt-5">
        <a href="{{ path('app_home') }}" class="return-quiz mt-5" >
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
            </svg>
               Retourner à l'accueil</a>
    </div>
    
{% endblock %}